<!DOCTYPE html>
<html>
<head>
  <title>Blocmarks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class="wrapper">
    <div class="container">
      <div class="row">
        <h1>Blocmarks</h1>
</div>
    <div class="pull-left">
        <ul class="nav nav-pills navbar-static-top" role="navigation">
          <li><%= link_to "Blocmark", root_path %></li>
          <% if current_user %>
            <li><%= link_to "All Bookmarks", categories_path %></li>
            <li><a href="/bookmarks/user/<%= current_user.id %>">My Bookmarks</a>
          <% end %>
          
        </ul>
    </div>
  
  
<div class="pull-right user-info">
        <% if current_user %>
          Hey <%= link_to (current_user.name || current_user.email), current_user %>!
          <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-log-out"></span>
          <% end %>
        <% else %>
          <%= link_to "Login", new_user_session_path %> or
          <%= link_to "Sign Up", new_user_registration_path %>
          <br>
          <a href="/users/auth/facebook"><img src="/images/login-with-facebook-small.png" alt="Login with Facebook" width="175px"></a>
        <% end %>
      </div>
<%= yield %>

</body>
</html>
